.btnContainer {
  width: 80%;
  height: 55px;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.btnSelected {
  background-color: rgb(118, 190, 238, 25%);
}

.btnNotSelected {
  background-color: rgb(118, 190, 238, 0%);
}
