.container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}



