.userAnalyticsContainer {
  width: "100%";
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.count {
  background: rgb(255, 149, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 149, 0, 1) 0%,
    rgba(8, 205, 237, 1) 0%,
    rgba(11, 142, 232, 1) 100%
  );
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  font-size: 20px;  color: white;
  width: 250px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition-duration: 200ms;
}

.countImgBox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.default {
  background-color: rgb(11, 42, 240);
}
